 .custom-upload-button {
   background: #EAF2EA;
   border: 1px dashed #9DB29D;
   border-radius: 8px;
   display: inline-block;
   padding: 50px 40px;
   /* color: white; */
   cursor: pointer;
   text-align: center;
   /* Add more styling for image if desired */
 }

 .custom-upload-button:hover {
   background-color: #c9dbc9;
   /* Darker blue on hover */
 }

 .upload-icon {
   font-size: 3em;
   /* Adjust icon size */
   color: #6c757d;
   display: block;
   /* Ensures icon is on its own line */
   margin-bottom: 10px;
 }



 .upload-area:hover {
   border-color: #0d6efd !important;
   /* Blue color */
 }

 .custom-alert {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 1050;
   display: flex;
   align-items: center;
   justify-content: center;
 }

 .form-control:focus {
   box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, .25);
   border-color: #0d6efd;
 }

 .form-floating-label {
   position: relative;
 }

 .form-floating-label .form-label {
   position: absolute;
   top: -0.5rem;
   /* Adjust this value for vertical overlap */
   left: 0.75rem;
   /* Adjust this value for horizontal overlap */
   background-color: white;
   padding: 0 0.25rem;
   z-index: 10;
   font-size: 0.875rem;
   /* Smaller font size */

 }

 .stepper-container {
   display: flex;
   justify-content: space-between;
   position: relative;
 }

 .step-wrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
   position: relative;
 }

 .step-circle {
   width: 30px;
   height: 30px;
   border-radius: 50%;
   background-color: #ccc;
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 1;
 }

 .step-circle.active {
   background-color: #0d6efd;
   /* blue for active/current */
   color: white;
 }

 .step-line {
   position: absolute;
   top: 15px;
   /* half of circle height */
   left: 50%;
   width: 100%;
   height: 2px;
   background-color: #ccc;
   z-index: 0;
 }

 .step-wrapper:last-child .step-line {
   display: none;
   /* hide line after last step */
 }

 .breadcrumb-item a {
   color: #28a745;
   /* Bootstrap's success color */
 }

 .breadcrumb-item.active {
   color: #28a745;
   /* Bootstrap's success color */
 }


 .breadcrumb {
   --bs-breadcrumb-divider: '>';
 }
 .breadcrumb-green {
  --bs-breadcrumb-divider: '>';
  color: green; /* divider color */
}
.breadcrumb-green a {
  text-decoration: none;
  color: inherit; /* links match color or can be custom */
}
